:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.75);
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
}

.calculator-grid button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.calculator-grid button:hover {
  border-color: #646cff;
}
.calculator-grid button:focus,
.calculator-grid button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.round-left {
  border-bottom-left-radius: 10px;
}

.round-right {
  border-bottom-right-radius: 10px;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/ -1;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgba(255, 255, 255);
  font-size: 2.5rem;
}
